html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}
/*
body {
  margin-bottom: 60px;
}*/
.text-pink {
    color: #ff1448 !important;
}

.nav-link {
    letter-spacing: 1px;
}

#carouselExampleSlidesOnly {
    height: auto;
}

footer {
    background-color: #0d243d;
    height: 230px;
}

header {
    z-index: 1000;
}

.dishCard {
    height: 270px;
}

.fa-instagram {
    color: #bc2a8d;
}

.fa-whatsapp {
    color: #128C7E;
}

.fa-facebook {
    color: #3b5998;
}

.fa-envelope {
    color: #EA4335;
}

#recipe-list {
    top: 5rem;
}

    #recipe-list ul::-webkit-scrollbar {
        width: 10px;
    }

    #recipe-list ul::-webkit-scrollbar-track {
        background-color: #ffffff;
    }

    #recipe-list ul::-webkit-scrollbar-thumb {
        background-color: #ff1448;
        border-radius: 10px;
    }

.recipe-item:hover {
    background-color: #0d243d;
    border-radius: 10px;
}

    .recipe-item:hover a {
        color: #ffffff !important;
    }

#order-img {
    height: 230px;
}

#qty {
    width: 50px;
    border: none;
}

    #qty:focus {
        outline: none;
    }

.qty-selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fa-plus, .fa-minus {
    cursor: pointer;
}

#totalAmount, #price {
    width: 60px;
    border: none;
}

    #totalAmount:focus, #price:focus {
        outline: none;
    }

.addToCartIcon {
    cursor: pointer;
}

.text-black {
    background-color: #0d243d;
}

#showCartList {
    display: none;
    right: 20px;
    width: 400px;
}

#cartListIcon:hover ~ #showCartList {
    display: block;
}

.cartListImg {
    width: 100px;
    height: 60px;
}

#showCartList:hover {
    display: block;
}
